<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">#<%= question.id %> -
        <%= question.Name %>
    </h5>
    <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="post" class="editQuestion" action="/admin/question/edit">
    <div class="modal-body">
        <input type="hidden" name="id" value="<%= question.id %>">
        <div class="form-group">
            <label for="choice">Team</label>
            <select class="custom-select form-control" name="choice" id="choice"
                    required>
                <option class="hidden" selected disabled value="">Select The Team</option>
                <% teams.forEach(team =>{ %>
                    <option <% if(team.Name === question.Choice){ %>selected <%}%>><%=team.Name%></option>
                <%}) %>
            </select>
        </div>
        <div class="form-group">
            <label for="Text">Text</label>
            <input type="text" id="text" class="form-control" name="text" value="<%= question.Text %>">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Cancel
        </button>
        <input type="submit" value="Save"
               class="btn btn-outline-success">
    </div>
</form>