<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel='icon' href='/favicon.ico' type='image/x-icon'/>
    <title> <%= settings["WebsiteName"].Value %> || <%= title %></title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Custom CSS Block -->
    <style>
        .bootstrap-switch {
            height: fit-content !important;
        }
    </style>
    <%- block('css').toString() %>

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <% include ../partials/navbar.ejs %>
    <!-- /.navbar -->

    <!-- Sidebar -->
    <% include ../partials/sidebar.ejs %>
    <!-- /.sidebar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"><%= title %></h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>

                            <li class="breadcrumb-item active"><%= title %></li>

                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Settings</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group row">
                                <label class="col-lg-3" for="RecruitmentOpen">Enable Recruitment: </label>
                                <input type="checkbox" class="form-control" name="RecruitmentOpen" id="RecruitmentOpen" <%if (settings["RecruitmentOpen"].Value === "1") {%>checked <%}%> data-bootstrap-switch data-off-color="danger" data-on-color="success">
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3"for="LeadershipOpen">Open Leaders Recruitment: </label>
                                <input type="checkbox" disabled class="form-control" name="LeadershipOpen" id="LeadershipOpen"  data-bootstrap-switch data-off-color="danger" data-on-color="success">
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3" for="MembershipOpen">Open Members Recruitment: </label>
                                <input type="checkbox"  disabled class="form-control"  name="MembershipOpen" id="MembershipOpen" data-bootstrap-switch data-off-color="danger" data-on-color="success">
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3" for="Season">Current Season: </label>
                                <input type="number" min="2020" class="form-control" name="Season" id="Season" value="2022">
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3" for="CurrentForm">Current Form</label>
                                <select class="custom-select form-control" name="CurrentForm" id="CurrentForm"
                                        required disabled>
                                    <option class="hidden" disabled value="">Select The Form</option>
                                    <option value="leadership">Leadership</option>
                                    <option value="membership">Members</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3" for="SheetID">SheetID: </label>
                                <input type="text"  name="SheetID" id="SheetID" class="form-control" value="<%=settings['SheetID'].Value%>">
                                <p style="color: #666; font-size: 12px"> Make sure that enactus21recruitment@enactus21.iam.gserviceaccount.com (and ahmed.shemais@ieeecusb.org for backup) has Edit access to the spreadsheet!, Don't edit the created sheet name or the first row.</p>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3" for="FormTime">Form Time (in seconds): </label>
                                <input type="number"  class="form-control" name="FormTime" id="FormTime" value="<%=settings['FormTime'].Value%>">
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>

                    </div>
                </div>

                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>

    <!-- /.content-wrapper -->
    <!--    Footer-->
    <% include ../partials/footer.ejs %>

    <!-- Toasts -->
    <% include ../partials/toasts.ejs %>
    <!-- Custom JS Block -->
    <%- block('js').toString() %>
    <!-- Bootstrap Switch -->
    <script src="/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script>
        $("input[data-bootstrap-switch]").each(function(){
            $(this).bootstrapSwitch();
        });
    </script>
</body>
</html>

