<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel='icon' href='/favicon.ico' type='image/x-icon'/>
    <title> <%= settings["WebsiteName"].Value %> || <%= title %></title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.5.2/css/colReorder.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" href="/css/portal.css">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PHC5BRL');</script>
<!-- End Google Tag Manager -->

    <script>function format(time) {
            // Hours, minutes and seconds
            let hrs = ~~(time / 3600);
            let mins = ~~((time % 3600) / 60);
            let secs = ~~time % 60;

            // Output like "1:01" or "4:03:59" or "123:03:59"
            let ret = "";
            if (hrs > 0) {
                ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
            }
            ret += "" + mins + ":" + (secs < 10 ? "0" : "");
            ret += "" + secs;
            return ret;
        }

        let questions = {
            Projects: "What do you know about project management?",
            OD: "How to ensure that all teams are on the right track? Explain with a specific method.",
            TM: "How to enhance the performance of the members?",
            LD: "What is the capacity building program? Mention the steps to conduct a training.",
            CR: "List the benefits or values that you can offer to the sponsors/partners",
            RM: "What do you know about product cycle?",
            Events: "Mention & describe an idea for an event, And list the needed actions for implementing this idea.",
            Marketing: "Prepare an offline campaign (theme, title, objectives)",
            Social: "Prepare an online campaign (theme, title, objectives)",
            Visuals: "List the basic video editing concepts you're familiar with if any (timeline, layers, blending modes...etc.)",
            Camera: "What are the basics of photography?",
            Presentation: "Mention 5 pillars will lead person to be a good presenter?"
        }

        let Answers;
    </script>
    <!-- Custom CSS Block -->
    <%- block('css').toString() %>

</head>
<body class="hold-transition sidebar-mini">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PHC5BRL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="wrapper">

    <!-- Navbar -->
    <% include ../partials/navbar.ejs %>
    <!-- /.navbar -->

    <!-- Sidebar -->
    <% include ../partials/sidebar.ejs %>
    <!-- /.sidebar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"><%= title %></h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active"><%= title %></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><%= title %></h3>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body ">
                        <table id="ind" class="table table-bordered table-hover" role="grid"
                               aria-describedby="example2_info">
                            <thead>
                            <tr role="row">
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Start</th>
                                <th>Submitted</th>
                                <th>Extra</th>
                            </thead>
                            <tbody>
                            <% applicants.forEach(app =>  { %>
                                <tr role="row" id="row-<%= app.id %>">
                                    <td><%= app.id %></td>
                                    <td><%= app.Name %></td>
                                    <td><a href="mailto:<%= app.Email %>"><%= app.Email %></a></td>
                                    <td><a href="tel:<%= app.Email %>"><%= app.Phone %></a></td>
                                    <td><%= app.Start %></td>
                                    <td>
                                        <% if(app.End != null) { %> Yes
                                        <% } else { %> No
                                        <% } %>
                                    </td>
                                    <td><span data-toggle="tooltip" data-placement="top" title="Edit"><button
                                                    type="button"
                                                    data-toggle="modal"
                                                    data-target="#par-<%= app.id %>"
                                                    class="btn btn-secondary"><i
                                                        class="fa fa-edit"></i></button></span></td>
                                    <div class="modal fade" id="par-<%= app.id %>" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want
                                                        to
                                                        set the data?</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    #<%= app.id %> - <%= app.Name %>
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="post" class="editApplicant">
                                                        <input type="hidden" name="id" value="<%= app.id %>">
                                                        <input type="text" name="name"
                                                               placeholder="Full Name*">

                                                        <input type="tel" name="phone"
                                                               placeholder="Phone Number*">


                                                        <select name="custudent">
                                                            <option value="">--- Please select ---</option>
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        </select>


                                                        <input type="text" name="faculty"
                                                               placeholder="Faculty*">

                                                        <select name="academic">
                                                            <option value="">--- Please select ---</option>
                                                            <option value="1st">1st</option>
                                                            <option value="2nd">2nd</option>
                                                            <option value="3rd">3rd</option>
                                                            <option value="4th">4th</option>
                                                            <option value="5th">5th</option>
                                                            <option value="6th">6th</option>
                                                        </select>
                                                        <input type="text" name="major"
                                                               placeholder="Major*">


                                                        <input type="text" name="minor"
                                                               placeholder="Minor">


                                                        <select name="english">
                                                            <option value="">--- Please select ---</option>
                                                            <option value="Good">Good</option>
                                                            <option value="Very Good">Very Good</option>
                                                            <option value="Excellent">Excellent</option>
                                                            <option value="Fluent">Fluent</option>
                                                        </select>
                                                        <label>Courses & Workshops
                                                            Attended</label>
                                                        <textarea name="courses"></textarea>

                                                        <label>Extra-Curricular Activities</label>
                                                        <textarea name="excur"></textarea>
                                                        <select name="first">
                                                            <option disabled selected value="">--- Please select
                                                                ---
                                                            </option>
                                                            <option value="Projects">Projects- Projects
                                                                Directorate
                                                            </option>
                                                            <option value="OD">Organizational Development -
                                                                Human Resources Directorate
                                                            </option>
                                                            <option value="TM">Talent Management - Human
                                                                Resources Directorate
                                                            </option>
                                                            <option value="LD">Learning and Development - Human
                                                                Resources Directorate
                                                            </option>
                                                            <option value="CR">Corporate Relations - Financial
                                                                Directorate
                                                            </option>
                                                            <option value="RM">Resources Management- Financial
                                                                Directorate
                                                            </option>
                                                            <option value="Events">Events - Financial
                                                                Directorate
                                                            </option>
                                                            <option value="Marketing">Marketing & PR - Marketing
                                                                Directorate
                                                            </option>
                                                            <option value="Social">Social Media - Marketing
                                                                Directorate
                                                            </option>
                                                            <option value="Visuals">Visuals - Multimedia
                                                                Directorate
                                                            </option>
                                                            <option value="Camera">Camera - Multimedia
                                                                Directorate
                                                            </option>
                                                            <option value="Presentation">Presentation -
                                                                Multimedia Directorate
                                                            </option>
                                                        </select>
                                                        <label>What do you know about this
                                                            team?</label>
                                                        <textarea name="team[]"></textarea>

                                                        <textarea name="team[]"></textarea>

                                                        <select name="second">
                                                            <option disabled selected value="">--- Please select
                                                                ---
                                                            </option>
                                                            <option value="Projects">Projects- Projects
                                                                Directorate
                                                            </option>
                                                            <option value="OD">Organizational Development -
                                                                Human Resources Directorate
                                                            </option>
                                                            <option value="TM">Talent Management - Human
                                                                Resources Directorate
                                                            </option>
                                                            <option value="LD">Learning and Development - Human
                                                                Resources Directorate
                                                            </option>
                                                            <option value="CR">Corporate Relations - Financial
                                                                Directorate
                                                            </option>
                                                            <option value="RM">Resources Management- Financial
                                                                Directorate
                                                            </option>
                                                            <option value="Events">Events - Financial
                                                                Directorate
                                                            </option>
                                                            <option value="Marketing">Marketing & PR - Marketing
                                                                Directorate
                                                            </option>
                                                            <option value="Social">Social Media - Marketing
                                                                Directorate
                                                            </option>
                                                            <option value="Visuals">Visuals - Multimedia
                                                                Directorate
                                                            </option>
                                                            <option value="Camera">Camera - Multimedia
                                                                Directorate
                                                            </option>
                                                            <option value="Presentation">Presentation -
                                                                Multimedia Directorate
                                                            </option>
                                                        </select>


                                                        <label for="T3">What do you know about this
                                                            team?</label>
                                                        <textarea name="team[]"></textarea>

                                                        <label for="T4" class="change2q"></label>
                                                        <textarea name="team[]"></textarea>

                                                        <label for="G1">What does the word “Entrepreneur“
                                                            mean? </label>
                                                        <textarea name="Gen[]"></textarea>

                                                        <label for="G2">In your opinion, What is Leadership ? and
                                                            what makes a good leader ?</label>

                                                        <textarea name="Gen[]"></textarea>

                                                        <label for="G3">What is a non-profit organization? </label>

                                                        <textarea name="Gen[]"></textarea>

                                                        <label for="G4">Why did you apply for Enactus? *</label>

                                                        <textarea name="Gen[]"></textarea>

                                                        <label for="S1">Give an example of a problem you have faced
                                                            in the past, either as a part of a team or as an
                                                            individual. How did you solve the problem?</label>

                                                        <textarea name="sit[]"></textarea>

                                                        <label for="S2">Describe a time when a team member has
                                                            annoyed you.</label>

                                                        <textarea name="sit[]"></textarea>

                                                        <label for="S3">How do you manage your time to achieve
                                                            results and work-life balance?</label>
                                                        <textarea name="sit[]"></textarea>

                                                        <input type="submit" value="Yes" class="btn btn-danger">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            <% }); %>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>


                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>

    <!-- /.content-wrapper -->
    <!--    Footer-->
    <% include ../partials/footer.ejs %>

    <!-- Toasts -->
    <% include ../partials/toasts.ejs %>
    <!-- Custom JS Block -->
    <%- block('js').toString() %>
    <script src="/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.2/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.7/pagination/select.js"></script>
    <!-- Validation -->
    <script type="text/javascript" src="/js/validation.js"></script>

    <!-- AJAXSubmit -->
    <script type="text/javascript" src="/vendor/jquery.ajaxSubmit.min.js"></script>
    <script type="text/javascript">
        let FormSubmit = () => {
            $('.editApplicant').ajaxSubmit({
                success: (res) => {
                    $(`#par-${res.id}`).modal('toggle');
                    toastr.success("Done");
                },
                error: (res) => {
                    toastr.error(res.msg);
                }

            });
        }
        FormSubmit();
        $(document).on('submit', '.editApplicant', function () {
            FormSubmit();
            return false;
        });
    </script>
    <script>
        $(document).on('change', '.first', () => {
            $('.change1q').fadeIn(500).text(questions[$('#first').val()]);
            $('.change1').slideDown(500).show();

        })
        $(document).on('change', '#second', () => {
            $('.change2q').text(questions[$('.second').val()]).fadeIn(500);
            $('.change2').slideDown(500).show();
        });
        $(function () {
            $("#ind").DataTable({
                stateSave: true,
                responsive: true,
                columnDefs: [
                    {responsivePriority: 1, targets: 0},
                    {responsivePriority: 2, targets: -1},
                    {responsivePriority: 3, targets: 1}
                ],
                fixedHeader: {
                    header: true,
                    footer: true
                },
                "autoWidth": false
            });
        })

    </script>
</body>
</html>
